@import "../less/variables.less";
@import "../less/mixins.less";

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: @commonFontSize;
}

body {
  max-width: 1150px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto !important;
}

main {
  position: relative;
  
}

header {
  #flexed;
  justify-content: space-between;
  @media screen and (@midSize) {
    flex-direction: column;
  }
  img {
    max-width: 30vw;
    @media screen and (@midSize) {
      max-width: 90%;
    }
  }
}

@media screen and (@midSize) {
  #search {
    width: 100%;
    margin: 0 auto;
  }
}

#logoDiv {
  max-width: 60%;
}

#searchBox {
  #boxes;
  margin-left: -5px;
  margin-top: 1rem;
  @media screen and (@midSize) {
    width: 90%;
    margin: 0;
    padding-left: 2.7rem;
  }
}

#searchIcon {
  color: white;
  //font-size: larger;
  //padding-top: 5px;
}

#searchButton {
  #aButton;
  margin-top: 1rem;
  @media screen and (@midSize) {
    margin: 0;
    position: fixed;
  }
}

#navUL {
  #flexed;
  #navULSets;
  width: 100%;
  position: relative;
  padding-left: 0;
  @media screen and (@smallSize) {
    flex-direction: column;
    border-right-color: white;
  }
  li {
    #navLiDressing;
  }
  a {
    #navAncorStyling;
    @media screen and (@smallSize) {
      font-size: 16px;
      line-height: 40px;
      text-align: center;
    }
  }
}

.homeIcon {
  font-size: 1rem;
}

#gridSection {
  #gridContainer;
  margin-top: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  @media screen and(@midSize) {
    grid-template-columns: 1fr;
    height: 300px;
  }
  .picGrid {
    height: 205px;
  }
  #pic1 {
    background-image: url("../img/spa1.jpg");
    #gridImages;
  }
  #pic2 {
    background-image: url("/img/spa2.jpg");
    #gridImages;
  }
  #pic3 {
    background-image: url("../img/spa4.jpg");
    #gridImages;
  }
}

// #contentrap {
//   padding-bottom: 2.5rem;    /* Footer height */
// }

footer {
  text-align: center;
  margin-top: auto;
  background-color: @mainBackgroundColor1;
  font-size: 2rem;
  padding: 10px;
  // position: absolute;
  width: 100%;
  // bottom: 0;
  :hover {
    color: @menuHoverColor;
  }
  .socialIcon {
    cursor: pointer;
  }
}
