@import "../less/variables.less";
@import "../less/mixins.less";

* {
    margin: 0;
    padding: 0;
  }

p {
  font-size: @commonFontSize;
}

body {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  #flexed;
  justify-content: space-between;
  @media screen and (@midSize) {
    flex-direction: column;
  }
  img {
    max-width: 30vw;
    @media screen and (@midSize) {
      max-width: 90%;
    }
  }
}

@media screen and (@midSize) {
  #search {
    width: 100%;
    margin: 0 auto;
  }
}

#logoDiv{
    max-width: 60%;
}

#searchBox {
  #boxes;
  margin-left: -5px;
  margin-top: 1rem;
  @media screen and (@midSize) {
    width: 90%;
    margin: 0;
    padding-left: 2.5rem;
  }
}

#searchIcon {
  color: white;
  //font-size: larger;
  //padding-top: 5px;
}

#searchButton {
    #aButton;
    margin-top: 1rem;
    @media screen and (@midSize) {
        margin: 0;
        position: fixed;

      }
}

#navUL {
  #flexed;
  #navULSets;
  width: 100%;
  position: relative;
  padding-left: 0;
  @media screen and (@smallSize) {
    flex-direction: column;
    border-right-color: white;
  }
  li {
    #navLiDressing;
  }
  a {
    #navAncorStyling;
    @media screen and (@smallSize) {
      font-size: 16px;
      line-height: 40px;
        text-align: center;

    }
  }
}

.homeIcon {
  font-size: 1rem;
}

footer {
  margin: 15px 0 5px 0;
  text-align: center;
  background-color: @mainBackgroundColor1;
  font-size: 2rem;
  padding: 10px;
  :hover {
    color: @menuHoverColor;
  }
  .socialIcon {
    cursor: pointer;
  }
}
