@mainBackgroundColor1: #f2f2f2;
@titlesFont: "font-family: 'Montserrat', sans-serif!";
@titleFontSize: 18px;
@menuFont:"font-family: 'Montserrat', sans-serif!";
@menuFontSize: 14px;
@commonFont: "font-family: 'Piazzolla', serif";
@commonFontSize: 13px;
@smallSize: ~"(max-width: 500)";
@midSize: ~"(min-width: 501)";